#test2 {
    position: absolute;
    left: calc(64px*6);
    top: calc(20px*12);

    width: calc(64px*4);
    height: calc(20px*12);
}

#test-scroll-and-content {
    height: calc(100% - 2rem);
}

#test-scroll-container {
    overflow-x: scroll;
    overflow-y: scroll;
}
#test-scroll-container::-webkit-scrollbar {
    display: none;
}