#recipe-book-window {
    margin: 0.5% 6%;
    min-width: 88%;
    min-height: 33%;
    display: flex;
    flex-direction: column;
}

#book-container {
    background-image: url("../images/recipes/bigbook_static.png");
    background-size: 100% 100%;
    min-height: 600px;
    /* height: calc(100% - 75px); */
    margin: 0 2%;
    padding: 6%;
}
.recipe {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    padding: 1% 0;

    box-sizing: border-box;

    column-count: 2;
    column-width: 50%;
    column-gap: 7%;
    column-fill: auto;
}

.recipe-title {
    font-size: 16pt;
}
.list-title {
    margin-top: 6px;
    margin-bottom: 2px;
    text-decoration: underline;
}
ol {
    margin-top: 0;
}
ul {
    margin-top: 0;
    padding-left: 20px;
}
ul li {
    margin-bottom: 2px;
}
ol li {
    margin-bottom: 8px;
}
.note {
    font-size: 10pt;
    margin-bottom: 8px;
}
.ingredient {
    /* text-decoration: underline; */
    /* font-style: italic; */
    /* font-weight: bold; */
}

.recipe-img-wrapper {
    width: 45%;
    height: fit-content;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}
.tape {
    position: absolute;
    top: -20px;
    left: -40px;
    max-width: 100px;
    display: none;
}
.recipe-img {
    width: 100%;
    height: 100%;
}
.tl-tape {
    position: absolute;
    transform: rotate(-30deg);
    top: -5px;
    left: -40px;
}
.tr-tape {
    position: absolute;
    transform: rotate(55deg);
    top: -5px;
    right: -40px;
}
.bl-tape {
    position: absolute;
    transform: rotate(55deg);
    bottom: -5px;
    left: -40px;
}
.br-tape {
    position: absolute;
    transform: rotate(-30deg);
    bottom: -5px;
    right: -40px;
}

#button-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-bottom: 2%;
}
#button-container button {
    padding: 3px;
    border: outset;
}
#button-container button:active,
#button-container button:disabled,
#button-container .active
{
    border: inset;
}

/*#region CONTENT_WINDOWS */
#sheet-overlay .horizontal-group {
    margin: 0.5% 6%;
    justify-content: space-between;
}
#guide-window {
    width: 60%;
    height: fit-content;
}

#chef-window {
    width: 38%;
    height: fit-content;
}
#chef-wrapper {
    margin: 6px auto;
    width: fit-content;
}
#chef-window img {
    max-width: 100%;
    max-height: 300px;
}
/*#endregion CONTENT_WINDOWS */


/*-- ================================================ --->
<---           MEDIA QUERIES / RESPONSIVENES          --->
<--- ================================================ --*/
/*#region MEDIA */
@media (max-width: 1150px) {
    #recipe-book-window {
        margin: 0.5% 1%;
        width: 98%;
    }
}
@media (max-width: 1000px) { /* SWITCH TO NON-BOOK DISPLAY*/
    #recipe-book-window {
        min-height: 0;
        height: fit-content;
    }
    #book-container {
        background-image: none;
        min-height: 0;
        height: fit-content;
        margin: 1% 2%;
        padding: 1% 2%;
    }
    .recipe {
        width: 100%;
        height: fit-content;
        column-count: 1;
    }
    #sheet-overlay .horizontal-group {
        display: block;
        margin: 0;
    }

    #guide-window {
        margin: 2% 1%;
        width: 98%;
    }
    #chef-window {
        margin: 2% auto;
        width: 45%;
        min-width: 325px;
    }
}
@media (max-width: 545px) { /* shrink sheet headers */
    #recipe-book-window,
    #guide-window,
    #chef-window {
        margin-left: -2.5%;
        width: 99.5%;
    }
}
/*#endregion MEDIA */