@font-face {
    font-family: "Binomic Medium";
    src: url("fonts/binomic_medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Apply to everything */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Binomic Medium", sans-serif;
}

/* MARKER COLORS */
/* Rather than have different colored markers, just transform a single black marker into any color I want */
.visited-low {
    filter: invert(90%) sepia(66%) saturate(511%) hue-rotate(18deg) brightness(88%) contrast(76%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-medium {
    filter: invert(51%) sepia(56%) saturate(363%) hue-rotate(54deg) brightness(95%) contrast(86%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.visited-high {
    filter: invert(26%) sepia(15%) saturate(2489%) hue-rotate(83deg) brightness(98%) contrast(88%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.unvisited-low {
    filter: invert(71%) sepia(57%) saturate(490%) hue-rotate(180deg) brightness(102%) contrast(95%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}
.unvisited-medium {
    filter: invert(46%) sepia(66%) saturate(2186%) hue-rotate(184deg) brightness(99%) contrast(92%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
        
}
.unvisited-high {
    filter: invert(31%) sepia(84%) saturate(1094%) hue-rotate(186deg) brightness(91%) contrast(98%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

.highlight {
    filter: invert(97%) sepia(14%) saturate(4954%) hue-rotate(341deg) brightness(109%) contrast(97%)
        drop-shadow(1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 -1px 0 black);
}

/*********************
**** GENERAL BODY ****
*********************/
html, body {
    height: 100%;
}

#body-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "map sidebar";
    grid-template-columns: auto 600px;
}

.error-red-text::placeholder {
    color: red;
}
.error-red-text {
    border-color: red;
}

.blob-cursor:hover {
    cursor: url('../images/spots_20.png'), pointer !important;
}

/**********************
**** MAP CONTAINER ****
**********************/
#map-container {
    background-color: blue;
    grid-area: map;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#map {
    width: 80%;
    height: 90%;
}

.hidden {
    display: none !important;
}

/****************
**** SIDEBAR ****
****************/
#sidebar-container {
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: red;
    overflow-x: scroll;
}

#sidebar-container h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

/*************************
**** RESTAURANT TABLE ****
*************************/
#sidebar-table {
    background-color: darkgreen;
}

#sidebar-table-header {
    background-color: limegreen;
    height: 1rem;
}

#sidebar-table-body {
    background-color: green;
    height: 1rem;
}

.inactive-button {
    background-color: gray;
}

/***********************
**** FILTERING MENU ****
***********************/
#filter-container {
    background-color: gray;
    width: 80%;
    margin-bottom: 1rem;
}

#filter-container #filter-header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0.75rem;
}

#filter-menus {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#filter-menus .multi-option-header {
    font-weight: bold;
}

#filter-menus .multi-select {
    background-color: slategray;
    border: 1px solid black;
}

#filter-menus .multi-select .multi-option {
    background-color:darkgray;
}

#filter-menus .multi-select .multi-any {
    border-bottom: 1px solid black;
}
